
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

body{
    margin:0;

}
.book_container{
    width:100vw;
    height:80vh;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background-color: aqua;
    overflow-y: scroll;
}

.bookCard{
    border:2px solid black;
    min-height:260px;
    height:350px;
    width: 20%;
    font-family: 'Zen Loop', cursive;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin:10px;
}
.bookCard ul{
    list-style: none;
    padding: 0;
    margin:2px;
    font-size: 1.3rem;
}
.deleteButton{
    width: 20%;
    height: 10%;
    align-self: flex-end;
    justify-self: flex-end;
    flex-grow: 0;
}
.footer{
    width: 100vw;
    height: 15vh;
    text-align: end;
    font-family: 'Otomanopee One', sans-serif;
    background-color: rgba(4, 167, 153, 0.979);
    
}
.addButton{
    border-radius: 30px;
    font-size: 2rem;
    width: 4rem;
    height:4rem;
    margin-right: 60px;
    margin-top:30px;
}
.inputPanel{
    width: 30vw;
    transform-origin: center center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-family: 'Otomanopee One', sans-serif;
    background-color:rgba(8, 108, 238, 1);
    border-radius: 10px;
   

}
.form{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    padding:10px;
    
}
span{
    text-align: center;
    color: white;
}
input{
    margin:5px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.read{
    align-self: center;
}
.formHeader{
    display: flex;
    justify-content: space-between;
}
.closeForm{
    margin-right: 10px;
    border-radius: 10px;
    background-color: red;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }